:root {
  --gokuSuit: #182e57;
  --gokuHair: #ffab14;
  --superSaiyanBlue: #496bab;
  --skinColour: #fff4ea;
  --skinColorDark: #ccbda6;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

a {
  color: unset;
}

a:hover {
  color: unset;
}

html {
  height: 100%;
  scroll-padding-top: calc(4.5rem - 1px);
}

.page-section {
  padding: 6rem 0;
}

.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}

.headingStyling {
  padding-bottom: 6rem;
  padding-top: calc(6rem + 74px);
}
.headingStyling .headingTitle {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.headingStyling .headingSubTitle {
  font-size: 1.25rem;
}
.headingStyling .headingAvatar {
  width: 15rem;
}

.copyright {
  background-color: var(--superSaiyanBlue);
  padding: 1.35rem;
  line-height: 1.35rem;
  color: #b3b3b3;
  font-size: 1.2rem;
}


.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
}

.contact-links, .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}


.contact-links {
  background-color: var(--skinColorDark);
  background:
    radial-gradient(
      circle at 55% 92%, #426691 0 12%, transparent 12.2%
    ), 
    radial-gradient(
      circle at 94% 72%, #426691 0 10%, transparent 10.2%
    ), 
    radial-gradient(
      circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
    ), 
    radial-gradient(
      circle at 0% 0%, var(--skinColorDark) 0 40%, transparent 40.2%
    ), 
    var(--skinColorDark);
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
  background-color: var(--superSaiyanBlue) ;
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 800px) {
  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}

.contact-links h2 {
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  transform: scale(.95, 1);
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link i {
  margin: 10px;
  color: var(--gokuSuit);
  cursor: pointer;
}

.links i:hover {
  transform: scale(1.1, 1.1);
  color: var(--superSaiyanBlue);
  transition: color ease-in-out 0.25s, transform ease-in-out 0.25s;
}

.links i:active {
  transform: scale(1.1, 1.1);
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #222)
    sepia(0.3);
}

.form-item {
  position: relative;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: var(--skinColorDark);
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: var(--skinColorDark);
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
  .contact-links h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 400px) {
  .contact-links h2 {
    font-size: clamp(30px, 12vw, 60px);
  }
  
  .links {
    padding-top: 30px;
  }
  
  .link i {
    width: 38px;
    height: 38px;
  }
}


span a {
  text-decoration: none;
  color: var(--skinColorDark);
}
.divider-custom {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1.25rem 0 1.5rem;
  width: 100%;
}
.divider-custom .divider-custom-line {
  background-color: var(--skinColorDark);
  border-color: var(--skinColorDark);
  border-radius: 1rem;
  height: 0.25rem;
  max-width: 7rem;
  width: 100%;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: var(--skinColorDark);
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: var(--skinColorDark);
}
.divider-custom.divider-light .divider-custom-icon {
  color: var(--skinColorDark);
}

.bg-custom {
  background-color: var(--gokuHair);
}

.heading-bg {
  background-color: var(--superSaiyanBlue);
}

#siteLogo {
  font-family: "Great Vibes", cursive;
}

#siteLogo span {
  color: var(--gokuSuit);
  font-size: 2rem;
}

i.text-sizing {
  color: var(--skinColorDark);
  font-size: 3rem;
}

.btn-outline-danger {
  border-color: var(--gokuSuit);
  color: #fff;
  text-transform: uppercase;
}

.btn-outline-danger:first-child:hover {
  background-color: var(--gokuSuit);
  border-color: var(--gokuSuit);
}

.logo-container {
  height: 100%;
  width: 100px;
}

.borderContainer {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.borderContainer img {
  width: 250px;
}

.card-header {
  background-color: unset;
}
.card {
  background-color: var(--gokuHair);
  border-style: none;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width: 500px;
}

.card-body {
  background-color: var(--gokuSuit);
}

.card-footer:last-child {
  background-color: var(--skinColorDark);
}

.card-footer {
  color: var(--gokuSuit);
}

.clear {
  margin: 50px 0;
}

.footer {
  background-color: var(--skinColorDark);
  color: var(--gokuSuit);
  padding: 5rem 0;
}

footer i:hover {
  color: var(--superSaiyanBlue);
  transition: color ease-in-out 0.25s;
}

#mainNav {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#mainNav .navbar-brand {
  color: #fff;
}
#mainNav .navbar-nav {
  margin-top: 1rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #182e57;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: var(--gokuSuit);
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }

  #mainNav {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    background: var(--gokuSuit);
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active,
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    background: var(--gokuSuit);
    color: #fff;
  }

  #mainNav.navbar-shrink {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }

  .headingStyling {
    padding-bottom: 6rem;
    padding-top: calc(6rem + 104px);
  }
  .headingStyling .headingTitle {
    font-family: "Great VIbes", cursive;
    font-size: 6rem;
    line-height: 4.5rem;
  }
  .headingStyling .headingSubTitle {
    font-size: 1.5rem;
  }
}
